*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Game Window*/
#gameWindow 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #DCDCDC;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/*Header*/
#header 
{
  height: 70px;
  width: 360px;
  border: 4px inset #BEBEBE;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*Grid Board*/
#board
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 360px;
  margin-bottom: 20px;
  border: 4px inset #BEBEBE
}

.cell
{
  width: 35px;
  height: 35px;
  border: 4px outset #BEBEBE;
  display:flex;
  justify-content: center;
  align-items: center;
}

.cellSprite {
  width: 25px;
  height: 25px;
}

.headerItem {
  width: 70px;
  height: 50px;
  background-color: black;
  color: red;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
